
<ul class="breadcrumb">
    <li><a href="#0" class="disabled">Link</a></li>
    <li><a href="#0" class="disabled">Link</a></li>
    <li><a href="#0" class="disabled">Link</a></li>
    <li><a href="#0">Page</a></li>
</ul>
