<div class="card column-6">
    <div class="card__image">
        <img src="https://source.unsplash.com/random" draggable="false">
    </div>
    <section class="card__body">
        <header class="card__title">
            <h4>Title</h4>
        </header>
        <div class="card__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nobis deleniti dolorum excepturi mollitia impedit doloremque. Ducimus labore, ad! Enim beatae delectus doloribus dolor, nihil consectetur adipisci qui soluta temporibus?</p>
        </div>
        <footer class="card__footer">
            <button>Button</button>
        </footer>
    </section>
</div>
