<div class="dropdown__container">
    <a class="button">Button</a>
    <div class="dropdown">
        <ul>
            <li>Dropdown</li>
            <li>Dropdown</li>
            <li>Dropdown</li>
            <li>Dropdown</li>
            <li>Dropdown</li>
        </ul>
    </div>
</div>

<!-- End Component -->
