
<span class="label">Label</span>

<!-- End Component -->

<span class="label label--primary">Label</span>
<span class="label label--secondary">Label</span>
<span class="label label--success">Label</span>
<span class="label label--warning">Label</span>
<span class="label label--error">Label</span>

<!-- End Variants -->
