<div class="media-item">
    <div class="media-item__image">
        <img src="https://source.unsplash.com/random" draggable="false">
    </div>
    <section class="media-item__body">
        <header class="media-item__title">
            <h4>Title</h4>
        </header>
        <div class="media-item__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nobis deleniti dolorum excepturi mollitia impedit doloremque. Ducimus labore, ad! Enim beatae delectus doloribus dolor, nihil consectetur adipisci qui soluta temporibus?</p>
        </div>
        <footer class="media-item__footer">
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </footer>
    </section>
</div>
