<div>
    <button class="modal__trigger">Show Modal</button>
</div>

<div class="modal">
    <div class="block column-6">
        <h4>Lorem ipsum.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, soluta, deleniti! Repellat deserunt doloribus perspiciatis, enim <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, porro eveniet itaque expedita repudiandae, velit deleniti neque, maxime nisi magnam distinctio exercitationem magni ab tenetur dolorum, facere veniam fugiat provident.</p>
        <a href="#0" class="button">Button</a>
        <a href="#0" class="button button--link">Button</a>
    </div>
</div>
