<nav class="nav">
    <div class="nav__container container">
        <div class="logo-wrapper">
            <a href="/" class="nav__brand"><img src="/assets/img/wincreeFULLlogo.png" draggable="false" class="logo" alt="Wincrete"></a>
        </div>
        <div class="menu">
            <ul class="nav__navbar is--active">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
         {% include 'partials/hamburger.twig' %}
    </div>
</nav>
