<section class="tabs">
    <ul class="tabs__nav">
        <li data-tab="1" class="is--active">Residential Builds</li>
        <li data-tab="2">Commercial Projects</li>
        <li data-tab="3">Removal</li>
    </ul>
    <div class="tabs__body">
        <div class="tabs__content is--active" data-tab="1">
            <div class="container container--full">
                <div class="column-5">
                    <img src="assets/img/residential.jpg" draggable="false">
                </div>
                <div class="column-7">
                    <h6>Residential</h6>
                    <p>Wincrete can accommodate all residential builds.  We are experts in basements, garages, pole barns, or floors of any size. </p>
                    <p>We are able to provide entire backyard renovations, whether it is installing ingrained pools or landscaping and design.  At Wincrete we use only the highest grade material available to achieve the best quality possible and assuring you piece of mind. </p>
                </div>
            </div>
        </div>

        <div class="tabs__content" data-tab="2">
            <div class="container container--full">
                <div class="column-5">
                    <img src="assets/img/commercial.jpg" draggable="false">
                </div>
                <div class="column-7">
                    <h6>Commercial</h6>
                    <p>Wincrete is able to offer commercial build services as well.  Reinforcing concrete, adding decorative and retaining walls, as well as adding proper drainage and slopes. </p>
                </div>
            </div>
        </div>

        <div class="tabs__content" data-tab="3">
            <div class="container container--full">
                <div class="column-5">
                    <img src="assets/img/removal.jpg" draggable="false">
                </div>
                <div class="column-7">
                    <h6>Removal</h6>
                    <p>Wincrete offers concrete removal services as well.  From removing broken or outdated concrete, to the removal of ingrained pools.  After removal is complete we are also able to replace the removed concrete and deliver you a result that you can be proud of.</p>
                </div>
            </div>
        </div>
    </div>
</section>
