/*
|--------------------------------------------------------------------------
| #TYPOGRAPHY SETTINGS
|--------------------------------------------------------------------------
*/

$baseline: ms(2);
$minScreen: $small;
$maxScreen: $large;
$minFont: .9rem;
$maxFont: 1rem;

html {
    color: color(font);
    font-size: 1rem;
    // @include fluid(font-size, $minScreen, $maxScreen, $minFont, $maxFont);

    * {
        color: inherit;
        font-family: $font-one;
        letter-spacing: -.1px;
        @include fluid(line-height, $minScreen, $maxScreen, 1.3, 1.4);
    }
}

h1, h2, h3, h4, h5, h6 {
    color: color(heading);
    font-family: $font-two;
}

h1 {
    // font-size: ms(6);
    // @include fluid(font-size, $minScreen, $maxScreen, 1.802rem, 2.027rem);
    font-weight: $heading-weight;
    margin-bottom: calc((#{$baseline} - #{ms(1)}) + #{$baseline});
}

h2 {
    // @include fluid(font-size, $minScreen, $maxScreen, 1.602rem, 1.802rem);
    font-weight: $heading-weight;
    margin-bottom: calc((#{$baseline} - #{ms(2)}) + #{$baseline});
}

h3 {
    // @include fluid(font-size, $minScreen, $maxScreen, 1.424rem, 1.602rem);
    font-weight: $heading-weight;
    margin-bottom: calc((#{$baseline} - #{ms(3)}) + #{$baseline});
}

h4 {
    // @include fluid(font-size, $minScreen, $maxScreen, 1.266rem, 1.424rem);
    font-weight: $heading-weight;
    margin-bottom: calc((#{$baseline} - #{ms(4)}) + #{$baseline});
}

h5 {
    // @include fluid(font-size, $minScreen, $maxScreen, 1.125rem, 1.266rem);
    font-weight: $heading-weight;
    margin-bottom: calc((#{$baseline} - #{ms(5)}) + #{$baseline * 1.5});
}

h6 {
    // @include fluid(font-size, $minScreen, $maxScreen, 1rem, 1.125rem);
    font-weight: $heading-weight;
    margin-bottom: calc((#{$baseline} - #{ms(6)}) + #{$baseline * 1.5});
}


p {
    margin-bottom: calc((#{$baseline} - #{ms(6)}) + #{$baseline * 1.5});
}

a {
    display: inline-block;
    color: color(primary);
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

mark {
    color: color(primary);
    background-color: color(grey-lighter);
    padding: 0 .5rem;

    @if ($has-radius) {
        border-radius: radius(small);
    }
}

small {
    font-size: .75rem;
}

blockquote {
    border-left: solid 2px color(grey-dark);
    margin-bottom: calc((#{$baseline} - #{ms(6)}) + #{$baseline * 1.5});
    padding: 0 1rem;

    footer,
    cite {
        margin-top: calc((#{$baseline} - #{ms(6)}) + #{$baseline});
        font-size: .75rem;
        color: color(grey);

        &:before {
            content: '-';
        }
    }
}

ul {
    list-style-type: disc;
}

ul,
ol {
    padding-left: 1rem;

    ul {
        list-style-type: circle;
    }
}

table {
    width: 100%;
}

thead,
tfoot {
    text-align: left;
}

th {
    font-weight: bold;
}

td,
th {
    padding: .75rem;
}

tr {
    border-bottom: solid 1px color(grey);
}

tfoot {

    tr {
        border-bottom: none;
    }
}

code,
pre {
    font-family: $font-mono;
}
