/*
|--------------------------------------------------------------------------
| #LEAD
|--------------------------------------------------------------------------
*/



.lead {
    font-size: ms(4);
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: color(heading);
}
