/*
|--------------------------------------------------------------------------
| #FLASH MESSAGE
|--------------------------------------------------------------------------
*/



.flash {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: z(highest);
}
