<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Viewport Meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Styles -->

    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <!-- Mobile Theme Colour -->

    <meta name="theme-color" content="#f1c00a">

    <!-- Title and Description -->

    <title>Wincrete | {% block title %}{% endblock %}</title>
    <meta name="description" content="At Wincrete we strive relentlessly to provide and create excellent concrete products to meet and exceed our clients wishes. Working efficiently and precisely we ensure our customers have an exceptional experience. With great pride we aim to execute every project to its maximum potential while maintaining a clean and safe job site. Wincrete aims at becoming an industry leader in residential decorative concrete solutions. We look forward to serving you and our community.">
    <meta name="keywords" content="wincrete, wincrete windsor, driveways, sidewalks, porches, concrete, concrete products, residential concrete, commercial concrete, construction, road building, re-surfacing, road paving, water main, drainage, excavating, demolition, heavy equipment, concrete footings, cement finishing, asphalt paving, water proofing, safety and traffic control measures, long term site safety, concrete cutting, concrete sealing, concrete removal, property grading, concrete windsor">

    <!-- Favicons -->

    <link rel="icon" href="assets/img/iconSMALL.png">

    <!-- Open Graph -->

    <meta property="og:title" content="Wincrete">
    <meta property="og:description" content="At Wincrete we strive relentlessly to provide and create excellent concrete products to meet and exceed our clients wishes. Working efficiently and precisely we ensure our customers have an exceptional experience. With great pride we aim to execute every project to its maximum potential while maintaining a clean and safe job site. Wincrete aims at becoming an industry leader in residential decorative concrete solutions. We look forward to serving you and our community.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="wincrete.ca">
    <meta property="og:site_name" content="Wincrete">
    <meta property="og:image" content="assets/img/og.jpg">

    <!--[if lt IE 9]>
     <script src="js/polyfill/html5-shiv.js"></script>
  <![endif]-->


</head>
<body>
    {% include 'partials/off-canvas.twig' %}
    <div class="{% block pageclass %}{% endblock %}" id="app">
            <div class="content">
                {% include 'partials/overlay.twig' %}
                {% block content %}{% endblock %}
            </div>
    </div>

    <script src="/assets/js/app.js"></script>

    {# Mister Sandman...sand me a man... #}
</body>
</html>
